<?php

$variables = [
    'DB_NAME' => 'contactbook',
    'DB_PASS' => 'secret',
    'DB_HOST' => 'localhost',
    'DB_USER' => 'root',
];

foreach ($variables as $key => $value) {
    putenv("$key=$value");
}
